{%extends "aponurho/sidebar.html"%}

{%block header%}Probation Semesters{%endblock%}

{%block maincell%}
{%if message%}
  <br />
  <center>{{message}}</center>
{%endif%}
<br />
<form action="probationusers" type="GET">
  <center>
    Finished Semester:
    <select name="sem1">
      {%for semester in semesters%}
        <option value="{{semester.id}}">{{semester.name}}</option>
      {%endfor%}
    </select>
  </center>
  <center>
    Next Semester:
    <select name="sem2">
      {%for semester in semesters%}
        <option value="{{semester.id}}">{{semester.name}}</option>
      {%endfor%}
    </select>
  </center>
  <center>
    <input class="button" type="submit" name="submitbutton" value="Go" />
  </center>
</form>
{%endblock%}
