{%extends "aponurho/sidebar.html"%}

{%block header%}Submit Hazing Claims{%endblock%}

{%block maincell%}
  <br />
  <form action="dosubmithazing" method=post> 
    {%csrf_token%}
    <table align=center> 
      <tr>
        <td colspan = 2>
          <center>
            Brother: <input type= "text" name = "name" value = ""/>
              
          </center>
        </td>
      </tr>
      <tr>
        <td> Reason:
        </td>
        <td>
          <textarea rows=7 cols=30 name="description"></textarea>
        </td>
      </tr>
      <tr>
        <td colspan = 2>
          <center>
            <input class="button" type="submit" name="submitbutton" value="Send" />
          </center>
        </td>
      </tr> 
    </table> 
  </form>
{%endblock%}
