{%extends "aponurho/basepage.html"%}

{%block body%}
  <center><h2>Reset Password</h2></center>
  <center>
    &laquo;
    <a href="login">Log In</a>
    &raquo;
  </center>
  <br />
  {%if message%}
    <center><font size="-1">{{message}}</font></center>
  {%endif%}
  <center><b>Due to a temporary malfunction, please email Logan Scharen at lpscharen@email.wm.edu instead of using the form below. Thank you!</b></center>
  <br><br>
  <center>Enter your email address:</center>
  <form name="email" action="doresetpassword" method="get">
    {%csrf_token%}
    <center>
      <input type="text" name="email" />
    </center>
    <center>
      <input class="button" type="submit" name="submitbutton" value="Reset Password" />
    </center>
  </form>
{%endblock%}
